@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  min-height: 100vh;
  max-width: 1800px;
  margin: 0 auto;
  background-color: lightgray;
}

#__next {
  background-color: lightgray;
}

.global-nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: navy;
  height: 70px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: 5%
}

.items {
  display: flex;
  padding-right:  5%;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: white
}

.nav-link:hover {
  background-color: rgb(14, 14, 143);
  cursor: pointer;
}

.content-container {
  min-height: calc(100vh - 130px);
}

.global-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;
  height: 60px;
  position: relative;
  left: 0;
  bottom: 0;
}

/* Mobile */
@media (max-width: 700px) {

}

@media (max-width: 850px) {
  .global-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 120px;
  }

  .name {
    justify-content: center;
    width: 100vw;
    padding: 0;
  }

  .items {
    width: 100vw;
    padding: 0;
  }

  .nav-link {
    flex-grow: 1;
  }

  .content-container {
    min-height: calc(100vh - 180px);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (min-width: 1801px) {
  .content-container {
    border-left: 3px solid black;
    border-right: 3px solid black;
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {

}
