@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: lightgray;
  min-height: 100vh;
}

.global-nav {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: navy;
  height: 70px;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding-left: calc(100vw - 95%);
}

.items {
  display: flex;
  padding-right:  calc(100vw - 95%);
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: white
}

.nav-link:hover {
  background-color: rgb(14, 14, 143);
  cursor: pointer;
}

.content-container {
  min-height: calc(100vh - 160px);
}

.global-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: white;
  height: 60px;
  position: relative;
  left: 0;
  bottom: 0;
}

/* Mobile */
@media (max-width: 700px) {
  .global-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 120px;
  }

  .name {
    justify-content: center;
    width: 100vw;
    padding: 0;
  }

  .items {
    width: 100vw;
    padding: 0;
  }

  .nav-link {
    flex-grow: 1;
  }

  .content-container {
    min-height: calc(100vh - 200px);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {

}
